/* CSS DOCUMENT */
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0%;margin: 0%;
    font-weight: 900;
}

h1{display: none;}
img{max-width: 100%;}
nav{width: 100%;position: fixed !important; z-index: 9;}

.navbar{background: rgba(255,255,255,1) !important;}
.navbar a{color: #26386c !important;text-transform: uppercase;}
.navbar a:hover{text-decoration: underline;}

.nav-item{margin: 0% 0.6%;font-size:  14px;}
.navbar-nav{width: 100%;}

#logo-menu {
    float: left;
    height: auto;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

#home{
    background: url('../images/home.png') no-repeat;
    background-size: contain;
    overflow: auto;
}

#home h3{
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
    font-style: italic;
}

#home h2{
    width: 42%;
    color: #26386c;
    text-transform: uppercase;
    margin-bottom: 0%;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
    font-style: italic;
}

#home figure{
    float: right;
    margin-top: 45%;
}

#nosotros{
    background: url('../images/blue-white-bg.png') center top no-repeat;
    background-size: 100%;
    overflow: auto;
}

#nosotros h2{display: none;}

#nosotros div{
    width: 33.33%;
    float: left;
    padding: 6%;
    margin-top: 14%;
}

.white h4{
    color: #26386c;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.white p{color: #939393; #939393;}

.white a{
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #939393;
    border: 1px solid #939393;
}

.blue h4{
    color: #eaeaea;
    font-weight: 900;
    text-transform: uppercase;
}

.blue p{color: #9be1f4;}

#contacto{
    background: white !important;
    overflow: auto;
    width: 100%;
    position: inherit;
}

#contacto div{
    float: left;
}

#contacto h2, #contacto h3{
    color: #585858;
    text-transform: uppercase;
    font-weight: 900;
}

#contacto div:first-child{color: #9b9b9b;}

#contacto a{
    display: block;
    width: 100%;
    color: #9b9b9b;
    padding: 1% 1%;
}

#contacto a i{color: #4061ba;font-size: 1.2em;}

form{
    width: 65%;
    background: url('../images/rect_blue.png') 100% 160% no-repeat white !important;
    background-size: 30% !important;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
    padding: 12% 8%;
    margin-top: 40%;
}

form input{
    width: 100%;
    padding: 2% 5%;
    margin: 3% 0%;
    border: 1px solid #4061ba;
    color: #4061ba;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

form textarea{
    width: 100%;
    resize: none;
    margin-top: 2%;
    padding: 2% 5%;
    border: 1px solid #4061ba;
    color: #4061ba;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

input[type="submit"]{
    background-color: #4061ba;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px rgba(64,97,186, 0.5);
}

input[type="submit"]:hover{
    font-weight: 900;
    cursor: pointer;
}

.blue-bg{
    width: 100% !important;
    background: url('../images/nubes.png') right bottom no-repeat #4061ba !important;
    background-size: 100% !important;
    color: white;
    margin-top: -2%;
    margin-bottom: 0% !important;
    padding-bottom: 5% !important
}

.blue-bg p{width: 100%;padding-left: 0%;}

.blue-bg h4{
    padding-left: 0%;
    text-transform: uppercase;
    margin-bottom: 0%;
    font-weight: 900;
    font-size: 1.2em;
}

.blue-bg img{width: 10%;margin-bottom: 1%;}

.formulario{float: right !important;margin-top: -60%;}

#equipo h2{display: none;}
#equipo{margin-top: -32%; background-color:  white;}

#equipo img{max-width: 100%;width: 100%; margin-top:  -60%;}

#equipo figure{width: 100%;}

#historia, #equipo{background: white;font-family: 'Poppins', sans-serif;}

.lista{
    background: url('../images/45anosexp.png') no-repeat;
    background-size: 100%;
    overflow: auto;
    width: 100%;
}

.lista h3, .clientes h3, .historia h3, #historia h2, #noticias h2, #servicios h3, #servicios h2{ display: none;}

.lista ul{
    list-style: none;
    color: #9b9b9b;
    padding: 1% 10%;
    overflow: auto;
}

.lista ul li{
    width: 50%;
    float: left;
    padding: 0% 5%;
    font-style: italic;
}

.lista ul i{color: #4061ba;}
.lista figure{text-align: center;margin-top: -18%;}
.lista img{width: 65%;}

.clientes{
    width: 100%;
    overflow: auto;
    background: url('../images/clientes.png') no-repeat;
    background-size: 90%;
    background-position: 30% -70%;
    margin-top: -5%;
}

.clientes p{
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    color: #9b9b9b;
    padding: 2%;
}

.clientes img{
    width: 20%;
    float: left;

    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(0); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
}

.clientes img:hover{
    filter: none;
    -webkit-filter: grayscale(1);
    -webkit-transform: scale(1.01);
}


.historia ul{
    list-style: none;
    width: 100%;
    overflow: auto;
    margin-bottom: 0%;
    padding: 1% 2%;
}

.historia li{
    width: 25%;
    float: left;
    color: #9b9b9b;
    padding: 0% 5%;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.historia li b{
    font-weight: 700;
    font-size: 1.3em;
    display: block;
    text-align: center;
}

.li1{padding-top: 2% !important;}
.li2{padding-top: 19% !important;}
.li3{padding-top: 4% !important}

#noticias{
    padding: 25% 6%;
    background: url('../images/noticias.png') center top no-repeat;
    background-size: 100%;
    overflow: auto;
    margin-top: -20%;
    background-color: #eaeaea;
}

.noticias{overflow: auto;padding: 8% 0%;}

.not1 a{
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
    overflow: auto;
    width: 100%;
    float: left;
    width: 20%;
}

.not1 a:hover{text-decoration: none;opacity: 0.9;}

.not2 figure{
    float: left;
    margin: 1% 0% 0% 0%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
}

.not2 img{width: 100%;padding: 0%;}

.not2 div{
    background-color: #4061ba;
    color: white;
    overflow: auto;
    margin-top: 1%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
}

.not2 h4{
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 5%;
    border-bottom: 1px solid white;
}

.not2 p{line-height: 21px;}

.not2 a{
    display: block;
    text-align: center;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
}

.not2 a:hover{text-decoration: none;font-weight: 900; color: white;}

#servicios{
    padding: 15% 0%;
    background: url('../images/servicios_bg.png') no-repeat;
    background-size: 100%;
    overflow: auto;
    width: 100%;
    margin-top: -12%;
}

#servicios .nav-tabs li{
    width: 20% !important;
    padding: 9% 0% 0% 0%;
    margin: 20% 0% 0% 0%;
    font-weight: 900;
    text-transform: uppercase;
}

#servicios .nav-tabs a{
    color: white;
    display: block;
    text-align:  center;
}

.tab1{
    background: url('../images/tab1.png') center top no-repeat;
    background-size: 100%;
}

.tab2{
    background: url('../images/tab2.png') center top no-repeat;
    background-size: 100%;
}

.tab3{
    background: url('../images/tab3.png') center top no-repeat;
    background-size: 100%;
}

.tab4{
    background: url('../images/tab4.png') center top no-repeat;
    background-size: 100%;
}

.tab5{
    background: url('../images/tab5.png') center top no-repeat;
    background-size: 100%;
}

#servicios .tab-content{
    background-color: white;
    color: #0f2153;
    font-weight: 400;
    box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.1);
    z-index: 10;
    position: relative;
}

/* BLOG */
.header{
    padding: 15% 0% 40% 0%;
    background: url('../images/blog-bg.png') no-repeat;
    background-size: 100%;
}

.header h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.9);
    opacity: 0.9;
}

.entradas{
    overflow: auto;
    width: 100%;
    padding: 0% 5% 5% 5%;
    margin-top: -30%;
}

.entry{
    display: block;
    margin: 2% 1%;
    overflow: auto;
    background: white;
    font-family: 'Poppins', sans-serif;
    float: left;
    border-radius: 8px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.1);
    -webkit-transition: box-shadow 0.5s ease-out;
    -moz-transition: box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
}

.entry:hover, .entry-big:hover{
    text-decoration: none;
    box-shadow: 1px 5px 15px rgba(0,0,0,0.6);
    cursor: pointer;
}

.entry img{width: 100%;display: block;}
.entry h4, .entry p, .entry h3{padding: 0% 5%;}

.entry h4, .entry-big h4{
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 1%;
    font-weight: 400;
}

.entry .small{font-size: 0.8em;color: #a7a7a7;}

.entry h3, .entry-big h3{
    font-weight: 500;
    margin-bottom: 1%;
    color: #434343;
}

.entry p, .entry-big p{font-size: 0.9em;color: #808080;}

.link{
    text-align: right;
    text-decoration: underline;
}

.link:hover, .link:hover{font-weight: 600;}

.green{color: #00990b !important;border-color: #00990b;}
.red{color: #d94d00 !important;border-color: #d94d00;}
.blue2{color: #007799 !important;border-color: #007799;}
.pink{color: #e40db9 !important;border-color: #e40db9;}
.yellow{color: #e4c30d !important;border-color: #e4c30d;}

.entry-big{
    display: block;
    float: left;
    overflow: auto;
    margin: 2% 1%;
    background: white !important;
    border-radius: 8px;
    overflow: auto;
}

.entry-big div{
    float: left;
    overflow: auto;
}


.entry-big .link{width: 97%;margin-bottom: 1%;}

.fondo-entrada{
    padding: 45% 10% 5% 10%;
    background: url('../images/bg-entrada.png') center top no-repeat #fff;
    background-size: 100%;
    overflow: auto;
}

.entrada{
    float: left;
    padding: 0% 3%;
    font-family: 'Poppins', sans-serif;
}

.entrada h3{color: #d94d00;text-transform: uppercase;}
.fecha a{color: #a7a7a7;}

.entrada h2{
    color: #434343;
    font-weight: 700;
    padding-bottom: 2%;
    border-bottom: 2px solid #d94d00;
    margin-bottom: 4%;
}

.entrada p{text-align: justify;color: #808080;}

.sidebar{
    float: right;
    padding: 0% 1%;
    font-family: 'Poppins', sans-serif;
}

.sidebar h5{
    text-align: right;
    text-transform: uppercase;
    color: #8b8b8b;
    font-weight: 500;
    padding-right: 3%;
}

.sidebar .entry{
    width: 100%;
    font-size: 0.9em;
    margin: 5% 0%;
    box-shadow: 0px 6px 30px 10px rgba(0,0,0,0.1);
}

.sidebar hr{width: 90%;margin: 3% auto;}

.sidebar .small{margin-bottom: 0%;}

.sidebar .entry h3{
    font-size: 1.2em !important;
    padding-bottom: 5%;
    font-weight: 700;
}

/* COTIZADOR */
.header2{
    padding: 23% 0% 35% 0%;
    background: url('../images/bg-cotizador.png') center top no-repeat white;
    background-size: 100%;
    overflow: auto;
}

.header2 h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.9);
    opacity: 0.9;
}

.envio{
    padding: 23% 0% 10% 0%;
    background: url('../images/bg-cotizador.png') center top no-repeat white;
    background-size: 100%;
    overflow: auto;
}

.envio h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.9);
    opacity: 0.9;
}

.process{
    width: 100%;
    overflow: auto;
    padding: 0% 10%;
    margin: -25% 0% 0% 0%;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

.card1{
    float: left;
    background: url('../images/cotiza.png') no-repeat;
    background-size: 100%;
    overflow: auto;
}

.card2{
    float: left;
    background: url('../images/solicita.png') no-repeat;
    background-size: 100%;
    overflow: auto;
}

.card3{
    float: left;
    background: url('../images/emplea.png') no-repeat;
    background-size: 100%;
    overflow: auto;
}

.card1 h2, .card2 h2, .card3 h2{
    text-transform: uppercase;
    color: #4162ba;
    font-weight: 700;
}

.card1 p, .card2 p, .card3 p{
    color: #434343;
    font-size: 0.9em;
}

.cotizador{
    width: 100%;
    background: white;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

.cotizador form{
    width: 100%;
    overflow: auto;
    padding: 0%;
    background: transparent !important;
    box-shadow: none;
    margin: 0%;
}

.cotizador h2{
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 3px 20px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-weight: 700;
}

.cotizador div{
    float: left;
    padding: 0% 1%;
}

.input{
    width: 100% !important;
    background: white;
    padding: 3% !important;
    margin: 2% 0%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);
}

.input h3{
    text-transform: uppercase;
    color: #4162ba;
    font-weight: 700;
    margin: 2% 0% 0% 0%;
}

.input input{
    width: 100%;
    padding: 2%;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.input p{
    color: #8a8a8a;
    padding: 1% 5%;
}

.input a{
    color: #8a8a8a;
    display: block;
    width: 100%;
    margin: 2% 0%;
    padding: 0% 5%;
}

.input i{
    color: #4061ba;
}

.input2 input{
    margin: 1% 0%;
}

.cotizador input[type="submit"]{
    width: 96%;
    background-color: #5ecbea;
    border: none;
    border-radius: 50px;
    margin: 1% 2%;
    font-size: 1.5em;
    padding: 1%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
}

.btn-cotiza {
    background-color:  #FFFFFF;
    border-radius: 5px:
    -webkit-box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    font-weight:  900;
    color: #ffffff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.btn-cotiza:hover {
    background-color: #cecece;
}

.btn-footer {
    background-color:  yellow;
    padding:  10px;
    border-radius:  5px;
    -webkit-box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    box-shadow: -3px 0px 13px 0px rgba(0,0,0,0.35);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    color: black;
}

.btn-footer a {
    color: black;
}

.btn-footer:hover {background-color:  #53d1f1; color: #ffffff;}

#uno {
    z-index: 1;
    position: absolute;
}

#dos {
    z-index: 2;
    position: absolute;
}

#tres {
    z-index: 3;
    position: absolute;
}


#contacto2{
    background: white !important;
    overflow: auto;
    width: 100%;
    margin-top:0%;
    position: inherit;
}

#contacto2 div{
    width: 50%;
    padding: 4% 5% 4% 10%;
    float: left;
}

#contacto2 h2, #contacto2 h3{
    color: #585858;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
}

#contacto2 div:first-child{color: #9b9b9b;}

#contacto2 a{
    display: block;
    width: 100%;
    color: #9b9b9b;
    padding: 1% 1%;
}

#contacto2 a i{color: #4061ba;font-size: 1.2em;}

.tab-pane active {border: red solid 5px;}


/* HIDE RADIO */
[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  display: inline-block;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 1px solid #cccccc;
  border-radius:  30px;
  opacity: 1;
}


.input-cotiza img {width: 20%;}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn-tab-1 {
    background: url('../images/tab1.png');
    background-size: cover;
    padding:  50px;
    text-shadow: #000000 1px 0 10px;
}

.btn-tab-2 {
    background: url('../images/tab2.png');
    background-size: cover;
    padding:  50px;
    text-shadow: #000000 1px 0 10px;
}

.btn-tab-3 {
    background: url('../images/tab3.png');
    background-size: cover;
    padding:  50px;
    text-shadow: #000000 1px 0 10px;
}

.btn-tab-4 {
    background: url('../images/tab4.png');
    background-size: cover;
    padding:  50px;
    text-shadow: #000000 1px 0 10px;
}

.btn-tab-5 {
    background: url('../images/tab5.png');
    background-size: cover;
    padding:  10px;
    text-shadow: #000000 1px 0 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: red;
    border: 1px solid red;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    border: red solid 1px;
}

.nav-tabs  li > a:hover {
    opacity: 0.9;
}

.titulo-tabs {
    margin-bottom:  20px;
    padding-bottom:  20px;
    border-bottom: #ededed solid 1px;
    text-transform: uppercase;
    color:  #585858;
    font-weight:  900;
    letter-spacing:  -1px;
    font-style: italic;
}

#home a {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    animation : scales 0.5s ease inifinite alternate
}

#home a:hover {opacity: 0.5; cursor: pointer;}


.slide-fwd-center {
    -webkit-animation: slide-fwd-center 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) 3s infinite alternate-reverse both;
            animation: slide-fwd-center 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) 3s infinite alternate-reverse both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

.bg-black {background-color:  black;}

.contenedor-mapa-sitio {padding:  50px;}
.contenedor-mapa-sitio img {width:  40%;}

.contenedor-mapa-sitio a {
  padding:  10px;
  color: white;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.contenedor-mapa-sitio a:hover {color: #4061BA;}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.tab-pane i {
    font-size:  10px;
    color: #4061ba;
}

.excelencia-texto {
    color: #4061ba;
    font-size:  24px;
    margin-top:  -200px;
}

.container {max-width: auto;}



@media only screen and (min-width : 150px) {
    #home h3 {font-size: 1.5em; text-align: center;}
    #home h2 {font-size: 1.5em; text-align: center;}
    #home p{color: #2d2d2d;font-size: 1em;width: 40%; text-align: center;}
    #home{padding: 40% 10% 10% 10%;}

    #home figure{float: left;margin-top: 5%;}
    #home img{width: 100%;}

    .white h4{
        font-size: 1.5em;
        padding-bottom: 2%;
        padding-top:  20%;text-align: center;
    }

    .white p{font-size: 1em; text-align: center;}
    .white a{width: 100%;padding: 2%;}

     #nosotros{margin-top: -30%;padding-bottom: 5%;}

     .blue{/*background: #4061ba;*/margin-top: 0% !important;}

     .blue h4{font-size: 1.5em; text-align: center;}
     .blue p{font-size: 1em; text-align: center;}

     #servicios .nav-tabs a{
        padding: 0% 0%;
        font-size: 0.6em;
        padding:  40px 5px;
    }

    .navbar-brand img{width: 40%;padding-left: 5%;}
    .titulo-tabs {font-size:  22px;}
    #servicios .tab-content{padding: 3% 5%;font-size: 1em;}

    .not2{
        float: left;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .not2 figure{width: 100%;}
    .not2 div{width: 100%;}

    .not2 div{
        padding: 5% 5%;
        height: auto;
    }

    .not2 a{
        width: 100%;
        margin: 5% auto;
        padding: 2% 0%;
    }

    .text-history {font-size:  13px;color: #9b9b9b;}
    .text-history i {color: #008cbd;font-size:  10px;}

    .clientes{padding: 46% 5% 0% 5%;}
    .historia{padding: 70% 3% 20% 3%;}

    .lista ul li{
        height: auto;
        font-size: 0.8em;
    }

    .lista{
        background-position: 50% 80%;
        padding: 8% 0% 0% 0%;
    }

    #contacto h2, #contacto h3{font-size: 1.5em;}

    #contacto div{width: 100%;padding: 15% 5% 10% 5%;}

    .mapa-sitio {text-align: center; float: none; margin-top:  20px; font-size: 10px; line-height: 2;}

    .logo-footer {text-align: center}

    #contacto{margin-top:0%;}

    #servicios .tab-content, #servicios .nav-tabs{
        width: 100%;
        margin: -0.5% auto 0% auto;
    }

    .entry{width: 100%;}

    .entry h3, .entry-big h3{font-size: 1em;}

    .entry-big{width: 100%;}

    .entry-big div{width: 100%;}
    .entry-big h4, .entry.big p, .entry-big h3, .entry-big hr{padding: 1% 0% 0% 5%;}
    .entry-big p{padding: 0% 0% 0% 5%;}

    .entry-big, .entry {margin-bottom:  30px;}

    .entrada{width: 100%;}

    .entrada h2{font-size: 1em;}
    .fecha{color: #a7a7a7;font-size: 1em;}

    .sidebar{width: 100%;}

    .sidebar h5{
        margin-top:  30px;
        border-top:  gray solid 1px;
        padding-top:  10px;
    }

    .header2 h2{font-size: 2em;}

    .card1{width: 100%; padding: 1% 1%; margin-bottom:  30px;}
    .card2{width: 100%; padding: 1% 1%; margin-bottom:  30px;}
    .card3{width: 100%; padding: 1% 1%; margin-bottom:  30px;}

    .h2, h2 {font-size: 22px;}

    .cotizador h2{
        font-size: 2em;
        padding: 1% 0%;
    }

    .cotizador div{width: 100%;}

    .input h3{font-size: 1em;}

    .cotizador{padding: 1% 5%;}

    #width-check {height: 50%; font-size: 10px;}

    #envio-mensaje {height:  50vh;}

    .envio h2{font-size: 2em;}

    .historia{
    overflow: auto;
    background: url('../images/historia-movil.png') no-repeat;
    background-size: 100%;
    background-position: 50% 0%;
    background-color: #ffffff;
    margin-top: -18%;
}




}


@media only screen and (min-width : 480px) {


}

@media only screen and (min-width : 768px) {
    #home h3 {font-size: 4em; text-align: left;}
    #home h2 {font-size: 3em; text-align: left;}
    #home p{color: #2d2d2d;font-size: 1.3em;width: 40%; text-align: left;}
    #home{padding: 10% 7% 0% 10%;}

    #home img{width: 60%;}

    .white h4{
        font-size: 2.5em;
        padding-bottom: 2%;
        text-align: left;
    }

    .white p{font-size: 1.3em; text-align: left;}
    .white a{width: 40%;padding: 2%;}

    #nosotros{margin-top: -30%;padding-bottom: 5%;}
    .blue h4{font-size: 2.7em; text-align: left;}
    .blue p{font-size: 1.2em; text-align: left;}
    .blue{/*background: #4061ba;*/margin-top: 0% !important;}

    #servicios .nav-tabs a{
        padding: 0% 15%;
        font-size: 1.2em;
        padding:  30px;
    }

    .navbar-brand img{width: 70%;padding-left: 10%;}
    .titulo-tabs {font-size:  28px;}

    .not2{
        float: left;
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }


}

@media only screen and (min-width : 992px) {
    .titulo-tabs {font-size:  36px;}
    .white h4{padding-top:  30%;}
    #home figure{float: right;margin-top: 20%;}
    #servicios .tab-content{padding: 1% 3%;font-size: 1em;}

    .not2 div{
        padding: 2% 2%;
        height: auto;
    }
    


}

@media only screen and (min-width : 1200px) {
    .blue{/*background: #4061ba;*/margin-top: 35% !important;}
    .white h4{padding-top:  50%;}
    #home figure{float: right;margin-top: 45%; margin-left: 50%;}

    #home img{width: 80%;}

    #servicios .tab-content{padding: 3% 5%;font-size: 1.3em;}

    .not2 figure{width: 70%;}
    .not2 div{width: 30%;}

    .not2 div{
        padding: 2% 2%;
        height: 430px;
    }

    .not2 a{
        width: 50%;
        margin: 20% auto;
        padding: 2% 0%;
    }

    .text-history {font-size:  22px;color: #9b9b9b;}
    .text-history i {color: #008cbd;font-size:  14px;}

    .clientes{padding: 5% 5%;}
    .historia{padding: 2% 3% 50% 3%;}

    .clientes p{
        padding: 6%;
    }


    .lista ul li{
        height: 15vh;
        font-size: 1.1em;
    }

    .lista{
        background-position: 50% 80%;
        padding: 8% 0% 0% 0%;
    }

    #contacto h2, #contacto h3{font-size: 2.5em;}

    #contacto div{width: 50%;padding: 4% 5% 14% 10%;}

    .mapa-sitio {text-align: right; float: right; margin-top:  5px; line-height: 2; font-size:  14px;}

    .logo-footer {text-align: left;}

    #contacto{margin-top:90%;}

    #servicios .tab-content, #servicios .nav-tabs{
        width: 80%;
        margin: -0.5% auto 0% auto;
    }

    .entry{width: 30%;}

    .entry h3, .entry-big h3{font-size: 1.5em;}

    .entry-big{width: 62%;}

    .entry-big div{width: 40%;}
    .entry-big h4, .entry.big p, .entry-big h3, .entry-big hr{padding: 1% 0% 0% 43%;}
    .entry-big p{padding: 0% 0% 0% 43%;}

    .entry-big, .entry {margin-bottom:  0px;}

    .entrada{width: 70%;}

    .entrada h2{font-size: 3em;}
    .fecha{color: #a7a7a7;font-size: 1.3em;}

    .sidebar{width: 30%;}

    .sidebar h5{
        margin-top:  0px;
        border-top:  transparent solid 1px;
        padding-top:  0px;
    }

    .header2 h2{font-size: 4em;}

    .card1{width: 33%; padding: 7% 5%; margin-bottom:  0px;}
    .card2{width: 33%; padding: 7% 5%; margin-bottom:  0px;}
    .card3{width: 33%; padding: 7% 5%; margin-bottom:  0px;}

    .h2, h2 {font-size: 30px;}

    .cotizador h2{
        font-size: 4em;
        padding: 2% 0%;
    }

    .cotizador div{width: 50%;}

    .input h3{font-size: 1.5em;}

    .cotizador{padding: 1% 15%;}

    #width-check  {width: 33.33%; font-size: 14px;}

    #envio-mensaje {height:  100vh;}

    .envio h2{font-size: 4em;}

    .historia{
    overflow: auto;
    background: url('../images/historia.png') no-repeat;
    background-size: 100%;
    background-position: 50% 0%;
    background-color: #ffffff;
    margin-top: -18%;
}








}
