/* CSS DOCUMENT - QUERIES */
@media only screen and (min-width : 150px) and (max-width: 479px){
    .navbar-brand{
        width: 70%;
    }
    
    .navbar{
        background: white !important;
    }
    
    #home{
        padding-top: 50%;
    }
    
    #home h2, #home h3, #home p, #home img, .white, .blue{
        width: 100% !important;
    }
    
    #home figure{
        margin: 0%;
    }
    
    #nosotros{
        margin: 0%;
    }
    
    .white{
        background: linear-gradient(to bottom, #ffffff, #eaeaea);
        margin: 0% !important
    }
    
    .white a{
        margin: 0% auto;
        width: 100%;
    }
    
    .blue{
        margin: 0% !important;
        background: #4162ba;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    
    #servicios .nav-tabs li{
        width: 50% !important;
        margin: 0%;
        padding: 10% 0%;
    }
    
    #noticias{
        margin-top: -5%;
        background-size: 100%;
        padding: 40% 0% 20% 0%;
    }
    
    .noticias{
        margin: 0%;
        padding: 0%;
    }
    
    .not1{
        display: none;
    }
    
    .not2, .not2 figure, .not2 div{
        width: 100%;
    }
    
    .not2 a{
        margin: 0% auto;
        width: 100%;
    }
    
    .historia{
        background-size: 100%;
        padding-top: 55%;
        padding-bottom: 5%;
    }
    
    .li1, .li2, .li3, .li4{
        width: 100% !important;
        margin: 5% 0% !important;
        padding: 0% !important;
    }
    
    .clientes{
        margin: 0%;
    }
    
    .clientes img{
        width: 33%;
    }
    
    .lista{
        background-size: 100%;
        background-position: 0% 0%;
        padding-top: 30%;
    }
    
    .lista ul li{
        width: 100% !important;
        padding: 4% 0% !important;
        margin: 0% 0% !important;
        clear: left !important;
        overflow: auto;
        height: auto;
    }
    
    .lista figure{
        margin-top: -13%;
    }
    
    #contacto p, #contacto div{
        width: 100% !important;
    }
    
    .formulario form{
        width: 100%;
        margin: 50% 0% 0% 0%;
    }
    
    #contacto{
        padding-bottom: 10%;
    }
}

@media only screen and (min-width : 480px) and (max-width: 767px){
    .navbar-brand{
        width: 70%;
    }
    
    .navbar{
        background: white !important;
    }
    
    #home{
        padding-top: 50%;
    }
    
    #home h2, #home h3, #home p, #home img, .white, .blue{
        width: 100% !important;
    }
    
    #home figure{
        margin: 0%;
    }
    
    #nosotros{
        margin: 0%;
    }
    
    .white{
        background: linear-gradient(to bottom, #ffffff, #eaeaea);
        margin: 0% !important
    }
    
    .white a{
        margin: 0% auto;
        width: 100%;
    }
    
    .blue{
        margin: 0% !important;
        background: #4162ba;
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    
    #servicios .nav-tabs li{
        width: 50% !important;
        margin: 0%;
        padding: 10% 0%;
    }
    
    #noticias{
        margin-top: -5%;
        background-size: 100%;
        padding: 40% 0% 20% 0%;
    }
    
    .noticias{
        margin: 0%;
        padding: 0%;
    }
    
    .not1{
        display: none;
    }
    
    .not2, .not2 figure, .not2 div{
        width: 100%;
    }
    
    .not2 a{
        margin: 0% auto;
        width: 100%;
    }
    
    .historia{
        background-size: 100%;
        padding-top: 55%;
        padding-bottom: 5%;
    }
    
    .li1, .li2, .li3, .li4{
        width: 100% !important;
        margin: 5% 0% !important;
        padding: 0% !important;
    }
    
    .clientes{
        margin: 0%;
    }
    
    .clientes img{
        width: 33%;
    }
    
    .lista{
        background-size: 100%;
        background-position: 0% 0%;
        padding-top: 30%;
    }
    
    .lista ul li{
        width: 100% !important;
        padding: 4% 0% !important;
        margin: 0% 0% !important;
        clear: left !important;
        overflow: auto;
        height: auto;
    }
    
    .lista figure{
        margin-top: -13%;
    }
    
    #contacto p, #contacto div{
        width: 100% !important;
    }
    
    .formulario form{
        width: 100%;
        margin: 50% 0% 0% 0%;
    }
    
    #contacto{
        padding-bottom: 10%;
    }
}

@media only screen and (min-width : 768px) and (max-width: 991px){
    .navbar{
        background: white !important;
    }
    
    #home{
        padding-top: 15%;
    }
    
    #home figure{
        margin-top: 12%;
    }
    
    #nosotros{
        margin: 0%;
        background: none;
    }
    
    .white{
        background: linear-gradient(to bottom, #ffffff, #eaeaea);
        margin: 0% !important;
        width: 100% !important;
    }
    
    .white a{
        margin: 0% auto;
        width: 50%;
        padding: 1% !important;
    }
    
    .blue{
        margin: 0% !important;
        background: #4162ba;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        width: 50% !important;
    }
    
    #nosotros div:nth-child(3){
        padding-bottom: 9%;
    }
    
    #servicios .nav-tabs li{
        width: 20% !important;
        margin: 0%;
        padding: 2% 10% 2% 0%;
        background-size: 113% !important;
    }
    
    #noticias{
        padding-bottom: 2%;
    }
    
    .not2 figure{
        width: 100%;
    }
    
    .not2 div{
        width: 100%;
    }
    
    .not2 a{
        margin: 0% auto;
    }
    
    .li1, .li2, .li3, .li4{
        width: 100% !important;
        padding: 3% !important;
        margin: 0% !important; 
    }
    
    .historia{
        background-position: 0% 0%;
        margin-top: -25%;
        padding-top: 50%;
        padding-bottom: 2%;
    }
    
    .clientes{
        background-position: 0% -85%;
        margin: 0%;
    }
    
    .lista{
        background-position: 0% -30%;
    }
    
    .lista li{
        padding: 5% 2% !important;
        height: auto !important;
    }
    
    .lista li:first-child, .lista li:last-child{
        width: 100% !important;
    }
    
    .lista figure{
        margin-top: -10%;
    }
    
    .formulario{
        padding: 2% !important;
        margin-top: -100%;
    }
    
    .formulario form{
        width: 100%;
    }
}

@media only screen and (min-width : 992px) and (max-width: 1199px){
    #home figure{
        margin-top: 32%;
    }
    
    #nosotros{
        margin: 0%;
        background: none;
    }
    
    .white{
        background: linear-gradient(to bottom, #ffffff, #eaeaea);
        margin: 0% !important;
        width: 100% !important;
    }
    
    .white a{
        margin: 0% auto;
        width: 50%;
        padding: 1% !important;
    }
    
    .blue{
        margin: 0% !important;
        background: #4162ba;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        width: 50% !important;
    }
    
    #nosotros div:nth-child(3){
        padding-bottom: 9%;
    }
    
    #servicios .nav-tabs li{
        width: 20% !important;
        margin: 0%;
        padding: 2% 10% 2% 0%;
        background-size: 113% !important;
    }
    
    #noticias{
        padding-bottom: 2%;
    }
    
    .not2 figure{
        width: 100%;
    }
    
    .not2 div{
        width: 100%;
    }
    
    .not2 a{
        margin: 0% auto;
    }
    
    .li1, .li2, .li3, .li4{
        width: 100% !important;
        padding: 3% !important;
        margin: 0% !important; 
    }
    
    .historia{
        background-position: 0% 0%;
        margin-top: -25%;
        padding-top: 50%;
        padding-bottom: 2%;
    }
    
    .clientes{
        background-position: 0% -85%;
        margin: 0%;
    }
    
    .lista{
        background-position: 0% -30%;
    }
    
    .lista li{
        padding: 5% 2% !important;
        height: auto !important;
    }
    
    .lista li:first-child, .lista li:last-child{
        width: 100% !important;
    }
    
    .lista figure{
        margin-top: -10%;
    }
    
    .formulario{
        padding: 3% !important;
        margin-top: -80%;
    }
    
    .formulario form{
        width: 100%;
    }
}

@media only screen and (min-width : 1400px){
    .historia li{
        font-size: 1.2em;
        padding: 0% 2%;
    }
    
    .formulario{
        margin-top: -55%;
    }
    
    .lista{
        background-position: 0% 110%;
    }
    
    .not2 div{
        margin-top: 1%;
        padding: 9% 2%;
    }
}


/* QUERIES BLOG Y COTIZADOR */
@media only screen and (min-width : 150px) and (max-width: 479px){
    .header2 h2{
        font-size: 3em;
    }
    
    .header2, .fondo-entrada{
        background-size: 130%;
    }
    
    .card1, .card2, .card3{
        width: 100%;
        padding: 15%;
    }
    
    .card1 h2, .card2 h2, .card3 h2{
        margin-bottom: 0%;
    }
    
    .cotizador, .cotizador form{
        width: 100%;
        padding: 5% 3%;
    }
    
    .cotizador h2{
        padding: 0% !important;
        font-size: 2.2em;
    }
    
    .cotizador div, .entrada, .sidebar{
        width: 100%;
        padding: 0%;
    }
    
    .input h3, .entrada h3{
        font-size: 1.3em;
    }
    
    .entry, .entry-big{
        width: 100%;
        overflow: auto;
        margin: 7% 0%;
    }
    
    .entry-big div{
        width: 100%;
        margin-bottom: 3%;
    }
    
    .entry-big h4, .entry-big .small, .entry-big h3, .entry-big p{
        padding: 0% 5%;
    }
    
    .entry-big .link, .entry .link{
        text-align: center;
    }
    
    .fecha{
        font-size: 0.8em;
    }
    
    .entrada h2{
        font-size: 1.8em;
    }
}

@media only screen and (min-width : 480px) and (max-width: 767px){
    .header2 h2{
        font-size: 3em;
    }
    
    .header2, .fondo-entrada{
        background-size: 125%;
    }
    
    .card1, .card2, .card3{
        width: 100%;
        padding: 20%;
    }
    
    .cotizador, .cotizador form{
        width: 100%;
        padding: 5% 3%;
    }
    
    .cotizador h2{
        padding: 0% !important;
        font-size: 3em;
    }
    
    .cotizador div, .entrada, .sidebar{
        width: 100%;
    }
    
    .entry, .entry-big{
        width: 100%;
        overflow: auto;
        margin: 7% 0%;
    }
    
    .entry-big div{
        width: 100%;
        margin-bottom: 2%;
    }
    
    .entry-big h4, .entry-big .small, .entry-big h3, .entry-big p{
        padding: 0% 5% !important;
    }
    
    .entry-big .link, .entry .link{
        text-align: center;
    }
    
    .fecha{
        font-size: 0.9em;
    }
    
    .entrada h2{
        font-size: 2em;
    }
}

@media only screen and (min-width : 768px) and (max-width: 991px){
    .entradas{
        padding: 0% 3%;
    }
    
    .entry, .entry-big{
        width: 48%;
    }
    
    .entry-big div{
        width: 100%;
        margin-bottom: 3%;
    }
    
    .entry-big h4, .entry-big p, .entry-big .small, .entry-big h3, .entry-big hr{
        width: 100%;
        padding: 0% 5%;
    }
    
    .entrada h2{
        font-size: 2.5em;
    }
    
    .fondo-entrada{
        padding: 40% 3% 3% 3%;
    }
    
    .process, .cotizador{
        padding: 0% 3%;
    }
    
    .card1 h2, .card2 h2, .card3 h2{
        font-size: 1.3em;
    }
    
    .card1 p, .card2 p, .card3 p{
        font-size: 0.7em;
    }
    
    .cotizador h2{
        font-size: 3em;
    }
}

@media only screen and (min-width : 992px) and (max-width: 1199px){
    .card1 p, .card2 p, .card3 p{
        font-size: 0.8em;
    }
}